body  {
	background-color: rgba(128, 128, 128, 0.38);
}
#logo {
	width: 60px;
	height: 60px;
}
.links {
	color: rgba(0, 111, 255, 0.57);	
}
.vintage {
	width: 200px;
	height: 200px;
}
.images {
	width: 120px;
	height: 100px;
}
h1 {
	text-align: center;

}
.forms {
	color: #FF0000body;
	text-align: center;
}